{% extends 'base.html' %}

{% block content %}

	<div class="card">
  		<h3 class="card-header posttitle loader">{{ post.title }} &nbsp
  		{% if post.published_date %}
     	<div class="date postdate"></div>
       	{% else %}
           <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
       	{% endif %}
  		</h3>
  		
  		<div class="card-block" style="margin-left:50px">
  		   <br>
		   <p class='postcontent'><h4>{{ post.text|safe|linebreaksbr }}</h4></p>
		    {% if post.published_date %}
     			<div class="date postdate">Posted on: {{ post.published_date }} </div>
			{% endif %}
			<br>
		   	{% if user.is_authenticated %}
			  <a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
			  <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
			<br>
		  	{% endif %}
		  	<br>
  		</div>
  	</div>
<hr>
  <h1>&nbspComments</h1>
  &nbsp&nbsp&nbsp&nbsp<a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
  <br>
  <br>
  
  <div class="container">
  
  {% for comment in post.comments.all %}
	<div class="card w-50">
	  <div class="card-block" style="margin:30px ">
		<h3 class="card-title">{{ comment.text|safe|linebreaks }}</h3>
		<p class="card-text">
		
			<p>Posted by: <strong>{{ comment.author }}</strong></p>
			<p>Commented on: {{ comment.created_date }}</p>
			{% if not comment.approved_comment %}
				  <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
				  <a class="btn btn-secondary" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span>Comment</a>
		    {% endif %}
		
		</p>		
		</p>
	  </div>
	</div>
	<br>
  {% endfor %}
</div>
</div>
{% endblock %}
