{% extends "map/detail_base.html" %}
{% load staticfiles %}
{% block detail %}
<head>
    <link rel="stylesheet" href="{% static 'css/glyphicons.css'%}">
</head>
    <br>
    <h1>Gallery</h1>
    <br>
    <div class="container">
    <div class="row border">
    {% for i in photolist %}
          <div class="col-md-4">
            <div class="card card-danger omg">
              <img class="card-img-top" src={{ i }} alt="Card image cap">
              {# <img class="card-img-top" src="{% static 'images/farmer2.jpeg' %}" alt="Card image cap">#}
              <div class="card-block">
                <!--h4 class="card-title">Name</h4>
                <p class="card-title">Gender</p>
                <p class="card-title">Age</p-->
                <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
              </div>
            </div>
          </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
