{% extends "map/detail_base.html" %}
{% block detail %}
    <br>
    <h1>Video</h1>
    <div class="container">
    <div class="row border">
        <br>
    {# {% for i in videolist width="420" height="315"%}#}
        <br>
          <div class="col-md-12">
            <div class="card card-danger omg">
                <iframe height="500"
                    src="https://www.youtube.com/embed/Z9P-fU67tik">
                </iframe>
                <!--audio controls="controls">
                    <source src={{ i }} type="audio/mpeg">
                    Your browser does not support the HTML5 audio element.
                </audio-->
            </div>
          </div>
    {# {% endfor %}#}
    </div>
    </div>
{% endblock %}
