{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/maps.css' %}">
{% endblock %}
{% block script %}
    <script type="text/javascript">
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: {lat: 17.767219, lng : 80.805918}
      });
    //   var markers=[]
    //   var contentString=[]
      var farmlist = JSON.parse('{{ farmlist|safe }}');
      var pointlist = JSON.parse('{{ pointlist|safe }}');
      var uluru = {lat: 17.7653, lng: 80.8057};
      var lat1 = 0;
      var lon1 = 0;
      //   console.log(houselist);
      var con=[];
      for(i=0; i<farmlist.length;i++){

          var Area = farmlist[i].area ;
          //var DoorNo = farmlist[i].doorNo ;
          var contentString = '<div id="content">'+
             '<div id="siteNotice">'+
             '</div>'+
           //   '<h1 id="firstHeading" class="firstHeading">House</h1>'+
             '<div id="bodyContent">'+
             '<p><h5>Area:'+Area.toString()+'</h5></p>' +
             '</div>'+
             '</div>';
             con.push(contentString);
      }

      for (i=0;i<farmlist.length;i++){
          createMarker(i)
      }
      function createMarker(i){

          //console.log(houselist[i].lat);
          //var uluru = {lat: lat1, lng: lon1};
          //console.log(uluru)
		 var triangleCoords = [
             {lat:17.765861+lat1,lng:80.805861+lon1},
	         {lat:17.765841+lat1,lng:80.805268+lon1},
	         {lat:17.765335+lat1,lng:80.805257+lon1},
	         {lat:17.765386+lat1,lng:80.805796+lon1}
         ];

         uluru={lat:17.765386+lat1,lng:80.805796+lon1};
         var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: 'green',
          strokeOpacity: 0.8,
          strokeWeight: 3,
          fillColor: 'green',
          fillOpacity: 0.5,
	     position: uluru
        });

        infowindow = new google.maps.InfoWindow();
		      bermudaTriangle.setMap(map);
	          google.maps.event.addListener(bermudaTriangle, 'click', function (event) {
			  infowindow.setContent(con[i]);
 		      infowindow.open(map,bermudaTriangle);
        });
          lat1 = lat1+0.001;
          lon1 = lon1+0.001;
      }
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6II9ywZ4ms1jyDIZ56mcFLsf8veQ-m2c&callback=initMap">
    </script>

{% endblock %}
{% block content %}
    <div id="map"></div>
{% endblock %}
