{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/maps.css' %}">
{% endblock %}
{% block script %}
    <script type="text/javascript">

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: {lat: 17.767219, lng : 80.805918}
      });
	var p={{latlon}}
	var j=0;
    //   var markers=[]
    //   var contentString=[]
      var welllist = JSON.parse('{{ welllist|safe }}');
      var lat1 = 17.767;
      var lon1 = 80.805;
         console.log(welllist);
      var con=[];
      for(i=0; i<welllist.length;i++){
          var Lat = welllist[i].lat ;
          var Lon = welllist[i].lon;
          var Depth = welllist[i].depth ;
          var Wateryield = welllist[i].averageWaterYield ;

          var farmno = welllist[i].farm ;
          var contentString = '<div id="content">'+
             '<div id="siteNotice">'+
             '</div>'+
           //   '<h1 id="firstHeading" class="firstHeading">House</h1>'+
             '<div id="bodyContent">'+
             '<p><h5>Latitude: '+Lat.toString()+'</h5></p>' +
             '<p><h5>Longitude: '+Lon.toString()+'</h5></p>' +
             '<p><h5>Depth: '+Depth.toString()+'</h5></p>' +
             '<p><h5>Avg Wateryield: '+Wateryield.toString()+'</h5></p>' +

             '<p><h5>Farm No: '+farmno.toString()+'</h5></p>' +
             '</div>'+
             '</div>';
             con.push(contentString);
	Lat1=p[j]
    Lon1=p[j+1]

	createMarker(i,Lat1,Lon1);
	j=j+2;
      }

      function createMarker(i,Lat1,Lon1){

          //console.log(welllist[i].lat);
          var uluru = {lat: Lat1, lng: Lon1};
          //console.log(uluru)
          infowindow = new google.maps.InfoWindow();


          var marker = new google.maps.Marker({
            position: uluru,
            map: map,
             icon:"/static/images/well.png",
             title: 'Uluru (Ayers Rock)'
          });
          marker.addListener('click', function() {
            infowindow.setContent(con[i]);
            infowindow.open(map, marker);
          });
          }
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6II9ywZ4ms1jyDIZ56mcFLsf8veQ-m2c&callback=initMap">
    </script>

{% endblock %}
{% block content %}
    <div id="map"></div>
{% endblock %}
