{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/maps.css' %}">
{% endblock %}
{% block script %}

    <script type="text/javascript">

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'),{
        zoom: 18,
        center: {lat: 17.767219, lng : 80.805918}
      });


   var p={{latlon}}
   var idList={{idList}}
   var j=0;
    var houselist=JSON.parse('{{ houselist|safe }}')
      var con=[];
      for(i=0; i<houselist.length;i++){
          console.log(idList);
          var v=idList[i];

        //   console.log(typeof(idList[i]==typeof(7)));
          var id = idList[i];
          var Lat = houselist[i].lat ;
          var Lon = houselist[i].lon;
          var Income = houselist[i].income ;
          var DoorNo = houselist[i].doorNo ;
          var v = p[j+2];
          console.log(v);
          var contentString = '<div id="content">'+
             '<div id="siteNotice">'+
             '</div>'+
             '<div id="bodyContent">'+
             '<p><h5>Latitude: '+Lon.toString()+'</h5></p>' +
             '<p><h5>Longitude: '+Lat.toString()+'</h5></p>' +
             '<p><h5>Income: '+Income.toString()+'</h5></p>' +
             '<p><h5>DoorNo.: '+DoorNo.toString()+'</h5></p>' +
             '<p><h5>Details: <a href="{% url 'map:gallery' pk=1 %}">Details</a> </h5></p>' +
             '</div>'+
             '</div>';
             con.push(contentString);

	  Lat1=p[j+1]
      Lon1=p[j]

	  createMarker(i,Lat1,Lon1);
	  j=j+3;
      }

      function createMarker(i,Lat,Lon){
       var uluru = {lat: Lat, lng: Lon };
          //console.log(uluru)
          infowindow = new google.maps.InfoWindow();


          var marker = new google.maps.Marker({
            position: uluru,
            map: map,
             icon:"/static/images/h.png",
             title: 'Uluru (Ayers Rock)'
          });
          marker.addListener('click', function() {
            infowindow.setContent(con[i]);
            infowindow.open(map, marker);
          });
      }

    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6II9ywZ4ms1jyDIZ56mcFLsf8veQ-m2c&callback=initMap">
    </script>

{% endblock %}
{% block content %}
    <div id="map"></div>
{% endblock %}
