#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;

}
#chartdiv{
	height: 500px;
	width: 100%;
}
#a{
	height: 500px;
	width: 100%;

}
